<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (08/30/2023, 40 points in total)**
This exercise is due tomorrow 08/31/203 11:59 PM.

(1) Write a Python program to calculate the area of a rectangle using user-input length and width.

In [2]:
# write your answer here
a = int(input("Enter the length:"))
b = int(input("Enter the breadth:"))
l = a*b
print("Area of length:",l)

Enter the length:5
Enter the breadth:7
Area of length: 35

(2) Create a program that takes two numbers from the user and swaps their values without using a temporary variable.

In [3]:
# write your answer here
a = int(input("Enter first number"))
b = int(input("Enter second number"))
print("Values before swapping:",a,b)
a,b = b,a
print("Values after swapping:",a,b)

Enter first number4
Enter second number6
Values before swapping: 4 6
Values after swapping: 6 4

(3) Write a Python program to calculate the length of a string.

In [4]:
# write your answer here
a = input("Enter a string:")
a = len(a)
print("Length of string is:",a)

Enter a string:Lasya
Length of string is: 5

(4) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘,

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [7]:
# write your answer here
def count_characters(s):
    char_count = {}
    for char in s:
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1
    return char_count

sample_string = 'google.com'
result = count_characters(sample_string)
print(result)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(5) Write a Python program to sum all the items in a list.

In [8]:
# write your answer here
numbers = [10, 20, 30, 40, 50]
total = 0
for item in numbers:
    total += item
print("Sum:", total)

Sum: 150

(6) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself.

Sample String : 'restart‘,

Expected Result : 'resta\$t'

In [9]:
# write your answer here
def replace_first_char_occurrences(s):
    if len(s) <= 1:
        return s

    first_char = s[0]
    modified_string = first_char + s[1:].replace(first_char, '$')
    return modified_string

sample_string = 'restart'
result = replace_first_char_occurrences(sample_string)
print(result)

resta$t

(7) Create a program that calculates the factorial of a number using a while loop.

In [10]:
# write your answer here
def factorial_with_while(n):
    if n < 0:
        return "Factorial is not defined for negative numbers"
    elif n == 0 or n == 1:
        return 1

    factorial = 1
    while n > 1:
        factorial *= n
        n -= 1
    return factorial

number = 5
result = factorial_with_while(number)
print("The factorial of {number} is:", result)

The factorial of {number} is: 120

(8) Create a program that takes a list of numbers as input and outputs a new list with only the even numbers.

In [11]:
# write your answer here
def filter_even_numbers(input_list):
    even_numbers = []
    for num in input_list:
        if num % 2 == 0:
            even_numbers.append(num)
    return even_numbers

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_result = filter_even_numbers(numbers)
print("Even numbers:", even_result)

Even numbers: [2, 4, 6, 8, 10]

(9) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where

$\ S=3.14*(1+a/b)^3$

In [12]:
# write your answer here
def calculate_S(a, b):
    S = 3.14 * (1 + a / b) ** 3
    return S

a = float(input("Enter the value of a: "))
b = float(input("Enter the value of b: "))

result = calculate_S(a, b)
print("The result of S:", result)

Enter the value of a: 5
Enter the value of b: 7
The result of S: 15.81900874635569

(10) Write a Python program to concatenate following dictionaries to create a new one.

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60},

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [13]:
# write your answer here
def concatenate_dicts(*dicts):
    new_dict = {}
    for d in dicts:
        new_dict.update(d)
    return new_dict

dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

result = concatenate_dicts(dic1, dic2, dic3)
print("Concatenated dictionary:", result)

Concatenated dictionary: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(11) Write a Python function that accepts a tuple of integers and returns the largest and smallest elements.

In [14]:
# write your answer here
def find_largest_smallest(numbers):
    if not numbers:
        return None, None

    largest = smallest = numbers[0]
    for num in numbers:
        if num > largest:
            largest = num
        elif num < smallest:
            smallest = num
    return largest, smallest

integer_tuple = (5, 2, 8, 1, 9, 3, 6)
largest_num, smallest_num = find_largest_smallest(integer_tuple)

print(f"Largest element: {largest_num}")
print(f"Smallest element: {smallest_num}")

Largest element: 9
Smallest element: 1

(12) Write a Python program that counts the frequency of each character in a given string and stores it in a dictionary.

In [16]:
# write your answer here
def count_character_frequency(s):
    char_frequency = {}

    for char in s:
        if char in char_frequency:
            char_frequency[char] += 1
        else:
            char_frequency[char] = 1

    return char_frequency

input_string = "programming"
result = count_character_frequency(input_string)

print("Character frequency:")
for char, count in result.items():
    print("{}: {}".format(char,count))

Character frequency:
p: 1
r: 2
o: 1
g: 2
a: 1
m: 2
i: 1
n: 1

(13) Write a Python program to check whether an element exists within a tuple.

In [17]:
# write your answer here
def check_element_in_tuple(element, input_tuple):
    return element in input_tuple

my_tuple = (1, 2, 3, 4, 5)

element_to_check = 3
if check_element_in_tuple(element_to_check, my_tuple):
    print("{} exists in the tuple.".format(element_to_check))
else:
    print("{} does not exist in the tuple.".format(element_to_check))

3 exists in the tuple.

(14) Write a Python program to find maximum and the minimum value in a set.

In [18]:
# write your answer here
def find_max_min_in_set(input_set):
    if not input_set:
        return None, None

    max_value = max(input_set)
    min_value = min(input_set)
    return max_value, min_value

my_set = {10, 5, 25, 3, 15}

max_val, min_val = find_max_min_in_set(my_set)
print("Maximum value: {}".format(max_val))
print("Minimum value: {}".format(min_val))

Maximum value: 25
Minimum value: 3

(15) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list:
student_list_fall_2023=['sb1826' ,
 'lb0582' ,
 'ab1820' ,
 'sb1883' ,
 'mb1296' ,
 'sc1622' ,
 'tc0469' ,
 'ac1770' ,
 'mc1453' ,
 'ad1187' ,
 'sd0926' ,
 'sd1268' ,
 'ag1609' ,
 'sg1638' ,
 'mg1299' ,
 'vkk0022' ,
 'bk0413' ,
 'gk0257' ,
 'am2807' ,
 'gm0558' ,
 'pm0658' ,
 'am2346' ,
 'rm1090' ,
 'sm2364' ,
 'sm2747' ,
 'sm2343' ,
 'vm0597' ,
 'htn0086' ,
 'sp2075' ,
 'gp0306' ,
 'lp0502' ,
 'sr1508' ,
 'vr0331' ,
 'yr0180' ,
 'as2819' ,
 'ss2981' ,
 'ns0756' ,
 'mt0825' ,
 'dt0463' ,
 'su0137' ,
 'dv0310'
]

In [19]:
# write your answer here
import random

def divide_students_into_groups(student_list, group_size_min, group_size_max):
    random.shuffle(student_list)

    num_students = len(student_list)
    num_groups = num_students // group_size_max

    if num_students % group_size_max != 0:
        num_groups += 1

    groups = []
    start = 0
    for _ in range(num_groups):
        end = start + random.randint(group_size_min, group_size_max)
        if end > num_students:
            end = num_students
        groups.append(student_list[start:end])
        start = end

    return groups


student_list_fall_2023 = ['sb1826', 'lb0582', 'ab1820', 'sb1883', 'mb1296', 'sc1622', 'tc0469', 'ac1770', 'mc1453',
                          'ad1187', 'sd0926', 'sd1268', 'ag1609', 'sg1638', 'mg1299', 'vkk0022', 'bk0413', 'gk0257',
                          'am2807', 'gm0558', 'pm0658', 'am2346', 'rm1090', 'sm2364', 'sm2747', 'sm2343', 'vm0597',
                          'htn0086', 'sp2075', 'gp0306', 'lp0502', 'sr1508', 'vr0331', 'yr0180', 'as2819', 'ss2981',
                          'ns0756', 'mt0825', 'dt0463', 'su0137', 'dv0310']

group_size_min = 4
group_size_max = 6

groups = divide_students_into_groups(student_list_fall_2023, group_size_min, group_size_max)

for i, group in enumerate(groups, start=1):
    print("Group {}: {}".format(i,group))

Group 1: ['sd1268', 'gm0558', 'ac1770', 'mb1296', 'ss2981', 'bk0413']
Group 2: ['lb0582', 'tc0469', 'sm2364', 'yr0180', 'vkk0022']
Group 3: ['sp2075', 'as2819', 'am2807', 'dt0463']
Group 4: ['sr1508', 'ad1187', 'gp0306', 'ns0756', 'gk0257', 'mt0825']
Group 5: ['lp0502', 'su0137', 'sm2343', 'mg1299', 'mc1453']
Group 6: ['dv0310', 'pm0658', 'sm2747', 'vm0597', 'htn0086', 'ag1609']
Group 7: ['sg1638', 'ab1820', 'sb1883', 'am2346', 'sd0926']

(16) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements.

In [20]:
# write your answer here
def find_duplicate_elements(arr):
    seen = {}
    duplicates = []

    for num in arr:
        if num in seen:
            if seen[num] == 1:
                duplicates.append(num)
            seen[num] += 1
        else:
            seen[num] = 1

    if not duplicates:
        return -1
    return duplicates

integer_array = [1, 2, 3, 4, 4, 5, 6, 6, 7]

result = find_duplicate_elements(integer_array)
if result == -1:
    print("No duplicate elements found.")
else:
    print("Duplicate elements:", result)

Duplicate elements: [4, 6]

(17) Write a Python program to select all the Sundays of a specified year.

In [21]:
# write your answer here
import datetime

def find_sundays(year):
    sundays = []
    date = datetime.date(year, 1, 1)

    while date.year == year:
        if date.weekday() == 6:  # Sunday has index 6 in the weekday() function
            sundays.append(date.strftime('%Y-%m-%d'))
        date += datetime.timedelta(days=1)

    return sundays

year_to_check = 2023

sundays_of_year = find_sundays(year_to_check)

if sundays_of_year:
    print("Sundays in {}:".format(year_to_check))
    for sunday in sundays_of_year:
        print(sunday)
else:
    print("No Sundays found in {}.".format(year_to_check))

Sundays in 2023:
2023-01-01
2023-01-08
2023-01-15
2023-01-22
2023-01-29
2023-02-05
2023-02-12
2023-02-19
2023-02-26
2023-03-05
2023-03-12
2023-03-19
2023-03-26
2023-04-02
2023-04-09
2023-04-16
2023-04-23
2023-04-30
2023-05-07
2023-05-14
2023-05-21
2023-05-28
2023-06-04
2023-06-11
2023-06-18
2023-06-25
2023-07-02
2023-07-09
2023-07-16
2023-07-23
2023-07-30
2023-08-06
2023-08-13
2023-08-20
2023-08-27
2023-09-03
2023-09-10
2023-09-17
2023-09-24
2023-10-01
2023-10-08
2023-10-15
2023-10-22
2023-10-29
2023-11-05
2023-11-12
2023-11-19
2023-11-26
2023-12-03
2023-12-10
2023-12-17
2023-12-24
2023-12-31

(18) Build a program that calculates the factorial of a given positive integer. The factorial of a non-negative integer n is the product of all positive integers less than or equal to n.

In [22]:
# write your answer here
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

number = int(input("Enter a positive integer: "))

if number < 0:
    print("Factorial is not defined for negative numbers.")
else:
    result = factorial(number)
    print("The factorial of {} is: {}".format(number,result) )

Enter a positive integer: 5
The factorial of 5 is: 120

(19) Write a program that takes a positive integer n as input and prints the count of even numbers from 1 to n. Use a loop to iterate through the numbers and utilize the break statement to optimize the loop.

In [24]:
# write your answer here
def count_even_numbers(n):
    count = 0
    for num in range(1, n + 1):
        if num % 2 == 0:
            count += 1
        if num > n:
            break
    return count

number = int(input("Enter a positive integer: "))

if number < 0:
    print("Please enter a positive integer.")
else:
    result = count_even_numbers(number)
    print("The count of even numbers from 1 to {} is: {}".format(number,result) )

Enter a positive integer: 8
The count of even numbers from 1 to 8 is: 4

(20) Write a Python function called count_vowels that takes a string as input and returns the count of vowels (both lowercase and uppercase) present in the string. Consider the vowels to be 'a', 'e', 'i', 'o', and 'u'. Ignore spaces and other non-alphabetic characters.

In [26]:
# write your answer here
def count_vowels(input_string):
    vowels = "aeiouAEIOU"
    vowel_count = 0

    for char in input_string:
        if char in vowels:
            vowel_count += 1

    return vowel_count

input_str = input("Enter a string: ")

result = count_vowels(input_str)
print("Count of vowels:", result)

Enter a string: Lasya
Count of vowels: 2